# Copy this file to `.env` and fill in your real values.
# DO NOT commit the actual `.env` file to git.

# Server
PORT=3000
NODE_ENV=development

# MongoDB connection string
# Local example:    mongodb://127.0.0.1:27017/smart-pantry
# Atlas example:    mongodb+srv://<user>:<pass>@cluster0.xxxxx.mongodb.net/smart-pantry
MONGO_URI=mongodb://127.0.0.1:27017/smart-pantry

# JWT secret (used in Phase 2)
JWT_SECRET=replace-me-with-a-long-random-string
JWT_EXPIRES_IN=1d
